*{margin:0;
    padding:0px;
    box-sizing:border-box;
    }
    body{
        background-color: aqua;
        background:url(../images/back.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    #form-section{
        padding-top: 100px;
        height: 05vh;
    }
    .form-container{
        width:45%;
        background-color: khaki;
        box-shadow: inset 18px 18px 141px blueviolet;
        margin: 0 auto;
        border: 1px solid ;
       

       
        
    }
    .from-head{
        text-align: center;
        padding: 20px;
    }
    .from-head h1{
        font-size: 50px;
        color: rgb(99, 7, 91);
    }
    .input-filed{
        padding: 10px;
        border: 1px solid;
        margin: 5px;
        border-radius: 21px;
    
    }
    .input-filed i{
        padding: 10px;
        font-size: 20px;
    }
    .form-col{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .btn{
        text-align: center;
        /* padding: 10px; */
        padding-bottom: 10px;
    }
    .btn button{
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: rgb(120, 243, 169);
    
    }
    .first-name{
        padding: 10px;
        background: none;
      
        border: none;
    }